In [1]:
import seaborn as sns
from matplotlib import cm
import numpy as np
import pandas as pd
import matplotlib.colors as colors
import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
# Load the dataset
data = pd.read_csv("./data/extracted/NFL/NFL.csv")

data.head()
list(data.columns)
len(data)
#data.head(5)

#help(pd.read_csv)
#help(pd.read_excel)

17172

In [17]:
# Filtering and Selecting
ageFilterValue = 50
ageFilter = data["Age"] > ageFilterValue
heightFilter = data["Height (inches)"] > 76
aboveAge = data[ageFilter & heightFilter]
len(aboveAge)
#aboveAge.head()

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
30,62.0,"Miami , FL",9/14/1954,Florida,Retired,NaN,2 Seasons,77.0,NaN,NaN,"Darby, Al",NaN,aldarby/2512457,NaN,221.0,1976 - 1978
60,59.0,"Cincinnati , OH",5/30/1958,Notre Dame,Retired,NaN,1 Season,78.0,NaN,NaN,"Foley, Tim",NaN,timfoley/2514196,NaN,275.0,1981 - 1981
121,58.0,"Barstow , CA",11/7/1958,Abilene Christian,Retired,NaN,2 Seasons,79.0,NaN,NaN,"Feasel, Greg",NaN,gregfeasel/2513891,NaN,300.0,1986 - 1987
148,58.0,"Dallas , TX",9/5/1958,Texas Christian,Retired,NaN,1 Season,77.0,NaN,NaN,"Talley, Stan",NaN,stantalley/2527002,NaN,220.0,1987 - 1987
168,59.0,"Detroit , MI",9/8/1957,Northwestern,Retired,NaN,1 Season,77.0,NaN,NaN,"Wells, Norm",NaN,normwells/2528513,NaN,261.0,1980 - 1980